.mainContainerAbout {
    margin-right: 60.5;
    margin-left: 60.5;
}

.header {
    margin-left: 0%;
    margin-right: 0%;
}

.titleAbout {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #e4312a;
    font-family: "Alegreya Sans",sans-serif;
    font-weight: 800;
    font-size: calc(4rem + .5vw);
}

.paragraphAbout {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "News Cycle",sans-serif;
}

.columnAbout {
    display: flex;
    justify-content: center;
}

.logoimpulsaAbout {
    vertical-align: middle;
    min-width: 250px;
}

.logoaseduisAbout {
    width: 250px;
    max-width: 100%;
    height: auto;
}

.containerjuntaAbout {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior: x;
    width: 100%;
    align-items: center;
    display: flex;
}
  
.card {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem;
}

.photo {
      vertical-align: middle;
      max-width: 300px;
}

.name {
    text-align: center;
    display: block;    
}

.role {
    text-align: center;
    display: block;    
}

.career {
    text-align: center;
    display: block;    
}

.containerworkersAseduis {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior: x;
    width: 100%;
    align-items: center;
    display: flex;
}

.containerteamDeveloper {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior: x;
    width: 100%;
    align-items: center;
    display: flex;
}