.mainContainerAbout {
    margin-right: 60.5;
    margin-left: 60.5;
}

.header {
    margin-left: 0%;
    margin-right: 0%;
}

.titleAbout {
    display: flex;
    color: #e4312a;
    font-family: "Alegreya Sans",sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.paragraphAbout {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-family: "News Cycle", sans-serif;
    align-items: center;
    line-height: 1.5;
}

.columnAbout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimpulsaAbout {
    vertical-align: middle;
    height: 150px;
}

.logoaseduisAbout {
    vertical-align: middle;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
     
}

.containerjuntaAbout {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior: x;
    width: 100%;
    align-items: center;
    display: flex;
    box-sizing: border-box;

}
  
.card {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem;
}

.photo {
      vertical-align: middle;
      max-width: 300px;
}

.name {
    text-align: center;
    display: block;    
}

.role {
    text-align: center;
    display: block;    
}

.career {
    text-align: center;
    display: block;    
}

.containerworkersAseduis {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior: x;
    width: 100%;
    align-items: center;
    display: flex;
}

.containerteamDeveloper {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior: x;
    width: 100%;
    align-items: center;
    display: flex;
}

.subtitlecarousel {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "News Cycle",sans-serif ;
}