.header {
    margin-left: 0%;
    margin-right: 0%;
}

.titleentrepreneur {
    display: flex;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #3bb3c3;
    font-size: 45px;
    font-family: "Alegreya Sans",sans-serif;
    font-weight: 800;
    align-items: center;
    justify-content: center;
}

.subtitleentrepreneur {
    color: #000;
    text-align: center;
    font-weight: 900;
    margin-bottom: 0.5rem;
    font-size: 25px;
}

.logoemprendimiento {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
}

.logoid3co {
    align-items: center;
    justify-content: center;
    width: 200px;
}

.paragraphentrepreneur {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: block;
    font-family: "News Cycle",sans-serif;
    line-height: 1.5;
}

.dataentrepreneur {
    color:#3bb3c3;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: inline-flexbox;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 2rem;
    font-family: "News Cycle",sans-serif;
}

.locationentrepreneur {
    height: 20px;
    width: 20px;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.flechaentrepreneur {
    height: 20px;
    width: 20px;
    text-align: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.rowentrepreneur {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.col {
   text-align: center;
    display: block;
}

.container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    align-items: center;
    display: flex;
}
  
.cardentrepreneur {
    flex-shrink: 0;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 1rem;
}

.photoentrepreneur {
    width: 450px;
    height: 300px;
}

.informationentrepreneur {
    text-align: center;
    display: block;    
}

.faceentrepreneur {
    height: 40px;
    width: 40px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.instaentrepreneur {
    height: 40px;
    width: 40px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.callentrepreneur {
    height: 40px;
    width: 40px;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.namefbentrepreneur {
    color:#3bb3c3;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: inline-flexbox;
    margin-right: 2rem;
    font-family: "News Cycle",sans-serif;
}


.nameinstaentrepreneur {
    color:#3bb3c3;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: inline-flexbox;
    margin-right: 2rem;
    font-family: "News Cycle",sans-serif;
}

.numberentrepreneur {
    color:#3bb3c3;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: inline-flexbox;
    margin-right: 2rem;
    font-family: "News Cycle",sans-serif;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.reproductor {
    width: 500px;
    max-width: 50%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    display: flex;
}
