.footer {  
    background: url("../assets/icons/footernew.svg") repeat-x bottom;
    width: 100%;
    font-family: "News Cycle",sans-serif;
    height: 200px;
    display: flex;
}

.titles {
    color: orange;
    
}

.redsocials {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.logoface {
    width: 30px;
    height: 30px;
}

.p-face {
    color: white;
    font-weight: 500;
    font-size: calc(1.325rem + .9vw);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline;
    box-sizing: border-box;
    padding: 0;
}

.logo-insta {
    width: 30px;
    height: 30px;
}

.p-insta {
    color: white;
    font-weight: 500;
    font-size: calc(1.325rem + .9vw);
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline;
    box-sizing: border-box;
    padding: 0;
}


.sponsor {
    grid-area: sponsor;
    display: flex;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}

.support {
    grid-area: sponsor;
    display: flex;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
}