.footer {  
    background: url("../assets/icons/footernew.svg") repeat-x bottom;
    width: 100%;
    font-family: "News Cycle",sans-serif;
    height: 200px;
    display: flex;
}

.titles {
    color: white;
    font-size: 1rem;
    
}

.socialnetworks {
    position: relative;
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-bottom: 2.5rem;
    padding-left: 2.5rem;
}

.logoface {
    width: 30px;
    height: 30px;
}

.p-face {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 1rem;
    margin-left: 0.5rem;
    display: inline;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

.logo-insta {
    width: 30px;
    height: 30px;
}

.p-insta {
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    display: inline;
    box-sizing: border-box;
    padding: 0;
}


.sponsor {
    position: relative;
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-left: 2.5rem;
    padding-right: 2rem;
}

.support {
    position: relative;
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-left: 2.5rem;
    padding-right: 2rem;
}

.imagesupportsponsor {
    width: 85px;
}

.imageaseduissupport {
    width: 97px;
}