

.label {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 40px;
 }

 .primary-button {
     margin-top: 20px;  
 }

 .inputlargformuser {
    width: 100%;
    margin-bottom: 10px;
   text-align: justify;
   line-height: 40px;
   height: 40px;
}