@import 'vars';

.image-container {
    height: 200px;
    background: #000;
    clip-path: polygon(0 0,100% 0,100% 54%,82% 100%,55% 71%,17% 100%,0 58%);
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-size: cover;
    padding-bottom: 3rem;
    margin: 0;
    font-family: "News Cycle",sans-serif;
    font-size: 95%;
}

.navbar-left {
  display: flex;
  text-align: center;
}

.nav-logo {
  width: 200px;
  margin-top: 10px;
  vertical-align: middle;
}

.navbar-center {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  justify-content: space-between;
  
  box-sizing: border-box;
  flex-direction: row;
}

.header-link {
  color: white;
  text-decoration: inherit;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  display: grid;
  width: 110px;
}

.header-link:hover {
  background-color: transparent;
  font-size: 110%;
  color: rgb(156, 40, 147);
}

.navbar-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.buttonlogin {
  background: url("../assets/icons/Vector (12).svg") no-repeat 40%;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
}

.buttonlogin:hover {
  background: url("../assets/icons/iconlogin.svg") no-repeat 40%;
  transform: scale(1.1);  
}


.buttontheme {
  background: url("../assets/icons/Frame 168.svg") no-repeat 40%;
  border: 1px solid transparent;
  width: 50px;
  height: 50px;
}

.buttontheme:hover {
  transform: scale(1.10);
  background: url("../assets/icons/Frame 169.svg") no-repeat 40%;
}

.buttonsearch {
  background: url("../assets/icons/Vector (11).svg") no-repeat 20%;
  border: 1px solid transparent;
  width: 60px;
  height: 60px;
}

.buttonsearch:hover {
  transform: scale(1.10);
  background: url("../assets/icons/Vector (15).svg") no-repeat 40%;
}
