@import 'vars';

.image-container {
    display: block;
    width: 100%;
    height: 200px;
    background: #000;
    clip-path: polygon(0 0,100% 0,100% 54%,82% 100%,55% 71%,17% 100%,0 58%);
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.nav-logo {
  width: 200px;
  margin-top: 10px;
}

.navbar-left {
  display: flex;
  text-align: left;
}

.navbar-center {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  justify-content: space-between;
}

.header-link-hover {
  color: white;
  text-decoration: inherit;
}

.header-link-hover:hover {
  background-color: transparent;
  font-size: 120%;
  color: rgb(156, 40, 147);
}

.navbar-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 15px;
  justify-content: space-between;
}

.loginStart {
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between;
}


.themeColor {
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between;
}

.quiclySearch {
  margin-left: 5px;
  margin-right: 5px;
  justify-content: space-between;
}
