.mainContainer {
    margin-right: 60.5;
    margin-left: 60.5;
}

.header {
    margin-left: 0%;
    margin-right: 0%;
}

.aboutUs {
   margin: 0px 60px;
   padding: 0px 30px;
}

.entrepeneurMain {
    margin: 30px 60px 0px;
    padding: 0px 7.5px;
}

.categoryContainer {
    margin: 30px 0px;
    padding: 30px 7.5px;
}

.title-entrepreneur {
    font-family: "Alegreya-Sans", sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    color: #3bb3c3;
    justify-content: center;
}

.name-entrepreneur {
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-family: "News Cycle",sans-serif;
}

.containerbutton {
   justify-content: flex-start;
}


.primary-button {
    background-color: #7a1a66;
    border-radius: 8px;
    border: 1px solid transparent;
    color: white;
    
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    line-height: 1.5;
    font-family: inherit;
    --btn-raise: 1rem;
    clip-path: polygon(var(--btn-raise) 0,calc(100% - var(--btn-raise)) 0,100% 50%,calc(100% - var(--btn-raise)) 100%,var(--btn-raise) 100%,0 50%);
}

.primary-button:hover {
    background-color: whitesmoke;
    border-radius: 8px;
    border: none;
    color: purple;
    width: 25%;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.separatorSection {
    background: url('../assets/icons/separator.svg');
    width: auto;
    height: 135px;
}


.categoryTitle {
    font-family: "Alegreya-Sans", sans-serif;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    color: #3bb3c3;
    justify-content: center;
    color: #e67016;
    margin-bottom: 0.5rem;
}

.categoryDescription {
    font-size: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 1rem;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
    font-family: "Alegreya Sans",sans-serif;
    text-align: center;    
    line-height: 1.2;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.loading {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.containerCategory {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
}

.imageCategory {
    font-weight: 400;
    height: 150px;
    width: 150px;
}

.categorie1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paragraph {
    text-align: justify;
    display: block;
    font-family: 'News Cycle",sans-serif';
    line-height: 1.5;
}

.container {
    position: relative;
    width: 50%;
}
  
.imageid3co {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
}
  
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}
  
.container:hover .imageid3co {
    opacity: 0.3;
  }

.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: black;
    font-size: 20px;
    padding: 15px 30px;
}

.logoid3co {
    width: 200px;
    height: 200px;
}

.row-overlay {
    justify-content: center;
    display: block;
    align-items: center;
    width: 900px;   
}

.row {
    justify-content: center;
    display: block;
    align-items: center;
}

.separatorSection {
    box-sizing: border-box;
    height: 135px;
    display: block;
}