.mainContainer {
    margin-right: 0;
    margin-left: 0;
}

.header {
    margin-left: 0%;
    margin-right: 0%;
}

.aboutUs {
   padding-left: 5px; 
   padding-right: 5px;
}

.title {
    justify-content: center;
    align-items: center;
    display: block;
}

.p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.loading {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

 
.categoryContainer {
    margin-left: 10px;
    margin-right: 10px;
}

.categoryTitle {
    display: block;
    align-items: center;
    justify-content: center;
    color: #e67016;
}

.categoryDescription {
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.containerCategory {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
}

.imageCategory {
    font-weight: 400;
    height: 150px;
    width: 150px;
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: inherit;
    color: white;
    text-decoration: none;
}

.categorie1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.primary-button {
        background-color: #7a1a66;
        border-radius: 8px;
        border: none;
        color: white;
        width: 25%;
        font-size: var(--md);
        font-weight: bold;
        height: 50px;
        justify-content: center;
        align-items: center;
}

.primary-button:hover {
    background-color: whitesmoke;
    border-radius: 8px;
    border: none;
    color: purple;
    width: 25%;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.paragraph {
    text-align: justify;
    display: block;
    font-family: 'News Cycle",sans-serif';
    line-height: 1.5;
}


.name {
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.container {
    position: relative;
    width: 50%;
}
  
.imageid3co {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
}
  
.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
}
  
.container:hover .imageid3co {
    opacity: 0.3;
  }

.container:hover .overlay {
    opacity: 1;
}
  
.text {
    color: black;
    font-size: 20px;
    padding: 15px 30px;
}

.logoid3co {
    width: 200px;
    height: 200px;
}

.row-overlay {
    justify-content: center;
    display: block;
    align-items: center;
    width: 900px;   
}

.row {
    justify-content: center;
    display: block;
    align-items: center;
}
