@import 'vars';

.header {
  margin-left: 0%;
  margin-right: 0%;
}




.titleLogin {
      font-size: 45px;
      margin-bottom: 12px;
      text-align: center;
      color: #e4312a;
}

.login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
}

.labeluserlogin {
      font-size: 20px;
      margin-bottom: 8px;
     width: 500px;
     font-family: "News Cycle",sans-serif;
}

.input {
      background-color: var(--text-input-field);
      border: none;
      border-radius: 8px;
      height: 30px;
      width: 500px;
      font-size: var(--md);
      padding: 6px;
      margin-bottom: 16px;
      font-family: "News Cycle",sans-serif;
}

.primary-button {
      background-color: var(--hospital-green);
      border-radius: 8px;
      border: none;
      color: var(--white);
      width: 100%;
      font-size: var(--md);
      font-weight: bold;
      height: 50px;
      justify-content: center;
      align-items: center;
}

.link-recoverypassword {
  text-decoration: inherit;
  color: black;
  margin-bottom: 1.5rem;
}

.link-register {
  text-decoration: inherit;
  color: black;
  margin-bottom: 1.5rem;
}