.header {
    margin-left: 0%;
    margin-right: 0%;
}

.titleNotFound {
    color: #e67016;
    justify-content: center;
    align-items: center;
    display: flex;
}

.paragraphNotFound {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
}

.errornotfound {
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.errorcontenedor {
    justify-content: center;
    align-items: center;
    display: flex;
}