.header {
    margin-left: 0%;
    margin-right: 0%;
}

.titlePromo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E67016;
    font-family: "Alegreya Sans",sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
}

.paragraphdescriptionPromo {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "News Cycle",sans-serif;
}

.noPromo {
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 20rem;
    margin-right: 1rem;
    display: flex;
   
    
}