.header {
    margin-left: 0%;
    margin-right: 0%;
}

.titleRegisterCompanythird {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cc9600;
    font-family: "Alegreya Sans",sans-serif;
    font-weight: 800;
    font-size: 45px;
}